/*** GENERAL ***/
body, html      { padding:0;margin:0;font-family:Arial, sans-serif;height:100%;color:#5E5E5E; }
.pull-left      { float:left; }
.pull-right     { float:right; }
.clear-float    { clear:both;height:0; }
.clear-right    { clear:right; }
.caret          { display:block;float:right;border-bottom:4px solid #F3F3F3;border-left:4px solid #F3F3F3;border-right:4px solid #F3F3F3;border-top: 4px solid #000000;content: "";height:0px;margin-left: 2px;vertical-align: middle;width: 0; }
.col            { width:47.5%;float:left; display:inline;}
.widecol        { width:89.5%;float:left; }

a               { color:#0BB8B6;outline:none; }
a:hover         { color:#0A9A98; }
a img           { vertical-align:middle;border:none; }

/*** SIDEBAR ***/
#sidebar        { width:500px;float:left; }
#sidebar .header{padding:10px 25px;}
.header         { background:#F3F3F3;border-bottom:1px solid #A6DFDE;color:#2CBFBD;padding:5px 25px 6px; height:25px; }
.titel          { border-bottom:1px solid #A6DFDE;color:#2CBFBD;margin:0;font-size:20px; padding:12px 25px; }
/*.titel img      { vertical-align:middle;}*/
.titel a        { margin-left:15px; margin-right:0px;float:right;}
.titel span     { float:left;}
.cleartitel     { clear:both;}
.header a       { text-decoration:none; }
.header form    { margin: 0px;}

.search-box         { padding: 2px 0px 0px 0px; }
.search-box input   { border-radius:0;border:1px solid #B8B8B8;display:inline-block;height:29px; }
.search-box button  { border-radius:0;border:1px solid #B8B8B8;display:inline-block;height:29px; }
.search-box input   { width:60%;font-style:italic;padding:5px; }
.search-box button  { padding:3px 5px 5px;margin-left:-5px;margin-right:0px;cursor:pointer;background:#F3F3F3; }
.search-box img     { vertical-align:middle; }

.messages           { position:absolute; width:500px; height:770px; overflow-y:auto;}
.message-box        { padding:10px 25px;font-size:.9em;border-bottom:1px solid #CCC;cursor:pointer; }
.message-box:hover  { color:#0BB8B6; }
.message-box.active { background:#0BB8B6;color:#FFF; }
.message-box dt     { clear:left;float:left;width:100px; }
.message-box dd     { padding-left:105px; }

#maximize-container { display:none;text-align:right; padding-top:5px;}

/*** MAIN ***/
#content        { width:750px;float:left;overflow:hidden; }
#content .header {padding:10px 25px;}
.language-switch        { padding-left:50px;position:relative;margin-bottom:6px; }
.language-switch .caret { border-top-color:#6F6F6F; }
.language-switch a      { text-transform:uppercase;color:#6F6F6F; }
.language-switch a:hover { color:#0BB8B6; }
.language-switch a:hover .caret { border-top-color:#0BB8B6; }
.language-switch ul     { z-index:20;margin:0;display:none;position:absolute;list-style:none;border:1px solid #CCC;background:#FFF;right:0;padding:0;width:150px; }
.language-switch ul a   { display:block;padding:3px 10px;}
.language-switch ul a:hover { color:#FFF;background:#0BB8B6; }

.content-body,
.action-links,
.content-links  { padding:15px 0 5px;margin:0 25px; }

.action-links   { border-bottom:1px solid #CCC;height:27px; }
.action-links a { font-size:.9em; }

.content-links a        { background:#9F9F9F;display:inline-block;text-align:center;padding:5px 0;width:230px;color:#FDFDFD;text-decoration:none;position:relative; }
.content-links a.active,
.content-links a:hover  { background:#0BB8B6;color:#FDFDFD; }
/*
.content-links a.active:after,
.content-links a:hover:after  { border-left:15px solid transparent;border-right:15px solid transparent;border-top:15px solid #0BB8B6;content: "";position:absolute;width:0;height:0;left:50%;bottom:-15px;margin-left:-15px; }
*/

.content-body               { padding-top:50px; }
.content-body ul            { list-style:none;margin:0;padding:0;}
/*.content-body li            { clear:both;}*/
/*.content-body li ul         { clear:left; padding:0;}*/
/*.content-body li strong     { color:#0BB8B6;display:inline-block;width:150px; float:left; }*/
.content-body li strong     { color:#0BB8B6;display:inline-block;width:150px;}
/*.content-body li span       { display:block; margin-left:150px; }*/
.widecol li strong          { color:#0BB8B6;display:inline-block;width:375px; }
.content-body li li         {padding-left:20px;}
.content-body li li strong  { color:#AAA;width:130px;padding-left:20px;}


/* .content-body li li strong  { color:#AAA;width:130px;padding-left:20px; padding-bottom:0px;}*/

#map-container  { position:relative; background:#FAFAFA;height:350px;margin:25px 0 10px;width:640px; }


.thumb-container img { display:inline-block;align:right; border:none;height:80px;width:80px;margin-right:5px; vertical-align: middle}
.thumb-container a img { background:#FAFAFA;border:2px solid #DDDDDD;height:50px;width:100px; }
.thumb-container a.active img {border-color:#0BB8B6; }


.locationTrustable          {border: 1px solid #DDDDDD;}
.locationNotTrustable       {border: 5px red;}
#compass                    {position:absolute;top:0;right:0;z-index=9000;}
/*
#growl_container                          { position:fixed;top:0;right:0;width:350px; }
#growl_container .growl                   { background-repeat:no-repeat;background-position:5px 5px;margin:10px;box-shadow:0px 0px 8px rgba(0, 0, 0, 0.8);background-color:rgba(0,0,0,0.8);color:#FAFAFA;padding:15px 15px 15px 60px;font-weight:bold;border-radius:4px;font-size:1.1em;min-height:30px; }
*/

#searchResult               {font-size: 14px; padding:5px 0px 0px 25px; border-bottom: 1px solid #2CBFBD; color: #2CBFBD; background:F3F3F3;}
.searchMode                 {border: 1px yellow;}

/* help page */
.help                       {margin-left:25px;}

.fullscreen                 {width:1280px;}