@(implicit lang: Lang, request:MessagesRequestHeader, messagesProvider: MessagesProvider)

@main{
<div class="header">
    <div id="maximize-container" class="pull-left">
    @{Messages("help.title")}
    </div>
</div>
<div id="content" class="help">
    <div class="helptopic">
        <h2>@{Messages("help.title.general")}</h2>
        @{Messages("help.text.general")}
    </div>
    <div class="helptopic">
        <h2>@{Messages("help.title.list")}</h2>
        @{Messages("help.text.list")}
        <div class="helpsubtopic">
            <h2>@{Messages("help.title.search")}</h2>
            @{Messages("help.text.search")}
        </div>
    </div>
    <div class="helptopic">
        <h2>@{Messages("help.title.detail")}</h2>
        @{Messages("help.text.detail")}
        <div class="helpsubstopic">
            <h2>@{Messages("help.title.msd")}</h2>
            @{Messages("help.text.msd")}
        </div>
        <div class="helpsubtopic">
            <h2>@{Messages("help.title.additional")}</h2>
            @{Messages("help.text.additional")}
        </div>
        <div class="helpsubtopic">
            <h2>@{Messages("help.title.raw")}</h2>
            @{Messages("help.text.raw")}
        </div>
    </div>
</div>
}