@(version:String, preloadEcall:String = "-1")(implicit lang: Lang, messagesProvider: MessagesProvider)
@main{

<script type="text/javascript">
        var searchtitel = '@Messages("interface.searchResults")';
        var lasttitel = '@Messages("interface.lastmessages")';
</script>
<div class="fullscreen">
  <div id="sidebar">
    <div class="header">
      <div id="maximize-container" class="pull-right">
        <a href="#" onClick="use_big_layout();return false;" title="Uitklappen">
          @Messages("interface.large") &rsaquo;
          <img src="/assets/images/uitklap.png" alt="Maximize icon" />
        </a>
      </div>

      <form class="search-box" action="/" onsubmit="incidentSearch(); return false;">
        <input type="text" placeholder="" name="query" />
        <button type="submit" title="Search">
          <img src="/assets/images/search.png" alt="Search icon" />
        </button>
      </form>
    </div>


    <div  class="titel" id="listTitel" title=@{version}>
      <span  id="titeltext"> @Messages("interface.lastmessages")</span>
      <a href="#" onClick="clearSearch();getIncidentList();setupRefresh();return false;" title="Reload">
        <img src="/assets/images/refresh_clear.png" alt="Refresh icon" />
      </a>
      <div class="cleartitel"></div>
    </div>


    <div class="messages"></div>

  </div>

  <div id="content">
    <div class="header">
      <div class="pull-right language-switch">
        <a href="#" class="trigger" title="Change language">
          @{lang.language}
        </a>
        <ul>
          <li>
            <a href='@routes.Application.changeLocale("NL")'>NL</a>
            <a href='@routes.Application.changeLocale("FR")'>FR</a>
            <a href='@routes.Application.changeLocale("DE")'>DE</a>
          </li>
        </ul>
      </div>

      <div class="pull-right help">
        <a href="@routes.Application.showHelp" title="Help!" target="_blank">
          <img src="/assets/images/info.png" alt="Info icon" />
          @Messages("interface.help")
        </a>
      </div>

      <div class="pull-left">
        <a href="#" onClick="use_small_layout();return false;" title="Inklappen">
          &lsaquo; @Messages("interface.small")
          <img src="/assets/images/inklap.png" alt="Minimize icon" />
        </a>
      </div>

    </div>

    <div id="block-content">
      <div class="action-links">
        @Messages("interface.selectBlock")
      </div>
    </div>
  </div>

  <div class="clearfloat"></div>

  <div id="footer">

  </div>
</div>
@if(preloadEcall != "-1") {
<script type="text/javascript">
            $(document).ready(function() {
                $("input[name='query']").val('@{preloadEcall}');
                incidentSearch();
            });
        </script>
}

<form action="/" onsubmit="return false;">
  <input type="hidden" id="timeStamp" name="timeStamp"/>
</form>

}
